<!DOCTYPE html>
<html lang="es">
  <head>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
  	<!-- Include the default theme -->
<link rel="stylesheet" href="SCEditor/minified/themes/default.min.css" /> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
        Proyecto Juan Carlos
      {% endblock %}
    </title>
 
    <!-- CSS de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    
    <section class="container">
      
      <header >

      {% block encabezado %}
      <img src="images/fondo.jpg" alt="Tienda online" width="100%" height="100px">
        <h1 align="center">Proyecto Fin de Curso Juan Carlos Marco Sánchez</h1>
       
      {% endblock %}
      {% block login %}

  {% if session.conectado %}
    
    <h4>Estas conectado - <small><a href="index.php?desconectar=si">desconectar</a></small></h4>
    
  {% else %}
      
    <form class="form-inline" role="form" method="post" action="index.php" align="right">
      <div class="form-group">
        <label class="sr-only" for="correo">Email</label>
        <input type="email" class="form-control" id="correo"
               placeholder="Introduce tu email" name="correo">
      </div>
      <div class="form-group">
        <label class="sr-only" for="clave">Contraseña</label>
        <input type="password" class="form-control" id="clave" 
               placeholder="Contraseña" name="clave">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="recordar"> No cerrar sesión
        </label>
      </div>
      <button type="submit" class="btn btn-default" name="entrar">Entrar</button>
    </form>
    <hr>

  {% endif %}

{% endblock %}
      </header>

      <nav align="left">
     <!--    <ul class="nav nav-tabs">
            <li class="active"><a href="index.html">Ver Productos</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li> <a href="categorias.html">Ver Categorías</a></li>
            <li><a href="centros-deportivos.html">Ver Centros Deportivos</a></li>
            <li><a href="monumentos.html">Monumentos</a></li>
            <li><a href="restaurantes.html">Restaurantes</a></li>
          </ul> -->
     <a href="index.html" class="btn btn-info" role="button">Ver Productos</a>
        <!-- - -->
        <a href="blog.html" class="btn btn-info" role="button">Blog</a>
        <!--  - -->
        <a href="categorias.html" class="btn btn-info" role="button">Ver Categorías</a>
        <!-- - -->
        <a href="centros-deportivos.html" class="btn btn-info" role="button">Ver Centros Deportivos</a>
       <!--  - -->
        <a href="monumentos.html" class="btn btn-info" role="button">Monumentos</a>
        <!-- - -->
        <a href="restaurantes.html" class="btn btn-info" role="button">Restaurantes</a> 

        
 
      </nav>
      
      <section>
        <header>
          <h2>
          {% block titulo_contenido %}
              Seccion de 
          {% endblock %}
          </h2>
        </header>
        <section>
        {% block contenido %}
          AQUI VA EL CONTENIDO
        {% endblock %}
        </section>
      </section>

      <footer>
      {% block pie %}
        <hr>
        <h4 align="right">Todos los derechos reservados. <a href="http://www.juancarlosmarco.es" target="_blank">Juan Carlos Marco</a> - 2018</h4>
        <ul class="list-inline" align="left">


            <li>Sígueme en mis RRSS:</li>
            <li><a href="https://www.facebook.com/juan.carlos.marco.sanchez" target="_blank"><img src="images/Facebook_Juan_Carlos_Marco.png" width="30" hight="30" alt="Facebook"></a></li>
            <li><a href="https://www.instagram.com/juan_carlos_marco_sanchez" target="_blank"><img src="images/instagram_Juan_Carlos_Marco.png" width="30" hight="30" alt="Instagram"></a></li>
        </ul> 
      {% endblock %}
      </footer>

    </section>
    
    <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="js/jquery-3.3.1.min.js"></script>
 
    <!-- Todos los plugins JavaScript de Bootstrap -->
    <script src="js/bootstrap.min.js"></script>


  <!--<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>-->




<!-- Include the editors JS -->
<script src="SCEditor/minified/sceditor.min.js"></script>

<!-- Include the BBCode or XHTML formats -->
<script src="SCEditor/minified/formats/bbcode.min.js"></script>
<script src="SCEditor/languages/es.js"></script>


<script>
var textarea = document.getElementById('descripcion');
sceditor.create(textarea, {
	format: 'bbcode',
	style: 'SCEditor/minified/themes/content/default.min.css'
});
</script>

  </body>
</html>