{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small>Centros Deportivos</small>    
{% endblock %}

{% block contenido %}
    <table class="table table-striped">
		<tr>
			<th>Nombre</th>
			<th>Dirección</th>
		</tr>
		{% for elcentro in loscentros %}
		<tr>
			<td><a href="index.php?c=deportivosController.php&id={{ elcentro.id }}&accion=ver">{{ elcentro.nombre }}</a></td>
			<td>{{ elcentro.direccion }}</td>
		</tr>
		{% endfor %}
	</table>
	<!-- <article>
		<header>
			<h3>{{ categoria.nombre }}</h3>
		</header>
		<section>
			<strong>Descripción:</strong> <br>
			{{ categoria.descripcion|raw }}
	
		</section> -->
		<hr>
		<footer>
			<a href="http://localhost/mvcmayo2018/index.php?c=deportivosController.php">
					Volver a Centros



				</a>
		</footer>
	</article>

{% endblock %}