{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small>Monumentos</small>    
{% endblock %}

{% block contenido %}
    <table class="table table-striped">
		<tr>
			<th>Nombre</th>
			<th>Dirección</th>
		</tr>
		{% for monumento in monumentos %}
		<tr>
			<td><a href="index.php?c=monumentosController.php&id={{ monumento.id }}&accion=ver">{{ monumento.nombre }}</a></td>
			<td>{{ monumento.direccion }}</td>
		</tr>
		{% endfor %}
	</table>
	<!-- <article>
		<header>
			<h3>{{ categoria.nombre }}</h3>
		</header>
		<section>
			<strong>Descripción:</strong> <br>
			{{ categoria.descripcion|raw }}
	
		</section> -->
		<hr>
		<footer>
			<a href="http://localhost/mvcmayo2018/index.html">
					Volver a Inicio



				</a>
		</footer>
	</article>

{% endblock %}

